.noNotes {
  position: relative;
  color: var(--black);

  .pen {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var();
    height: 1rem;
    width: 1rem;
  }
}

.notesWrapper {
  position: relative;

  .note-content_container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .note-item_container {
      height: fit-content;
      border-radius: 5px;
      max-height: 300px;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.129);
      border-radius: 5px;
      transition: var(--trans);

      &:hover {
        box-shadow: 14px 10px 22px 0px rgba(0, 0, 0, 0.155);
      }

      .note_preview__container {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white);
        color: var();
      }

      .note-item-header {
        background: var(--blue);
        padding: 1rem;
        color: var(--text-color);

        p {
          display: flex;
          align-items: center;
          justify-content: space-between;

          font-size: 0.7rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
  .pen__container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--blue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

    .pen__content {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      transition: var(--trans);
      p {
        position: absolute;
        top: -40px;
        right: -10px;
        background: var(--blue);
        width: 80px;
        opacity: 0;
        transition: var(--trans);
        padding: 5px;
        border-radius: 2px;
        font-size: 0.5rem;

        &::before {
          content: "";
          position: absolute;
          bottom: -2px;
          height: 10px;
          width: 10px;
          background: var(--blue);
          transform: rotate(45deg);
          right: 10px;
        }
      }

      &:hover {
        p {
          opacity: 1;
        }
      }
    }
  }
}
