.app__login {
  min-height: 100vh;
  max-height: 100vh;

  .login__container {
    display: flex;
    height: 100vh;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    .left__login-container {
      flex: 1;
      height: 100%;
      width: 70%;
      max-width: 80%;
      background: rgba(226, 225, 225, 0.548);
      padding: 2rem;
      position: relative;

      @media screen and (max-width: 800px) {
        display: none;
      }
      .logo {
        img {
          width: 100px;
          height: 50px;
          object-fit: cover;
        }
      }

      .loginUserImg {
        height: 90%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }

      .card {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: fit-content;
        border: var(--border);
        border-radius: 5px;

        .icon {
          height: 40px;
          width: 40px;
          border-radius: 5px;
          background: rgb(230, 227, 227);
        }
      }
    }

    .right__login-container {
      flex: 0.5;
      background: var(--white);
      max-width: 30%;
      padding: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: var(--trans);

      @media screen and (max-width: 800px) {
        max-width: 100vw;
        min-width: 100vw;
        flex: 1;
      }

      .right__header {
        color: #555;
        .welcome {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }

        .please {
          color: #777;
        }
      }

      .quote {
        background: var(--light__blue);
        padding: 1rem;
        border-radius: 5px;
        margin: 1rem 0;
        font-size: 0.9rem;
        color: var(--blue);
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;

        .input__container {
          width: 100%;
          margin-bottom: 1rem;

          input {
            width: 100%;
            height: 40px;
            padding: 1rem;
            border-radius: 5px;
            outline: none;
            border: var(--border);
          }

          &.me {
            margin-top: 1rem;
          }
        }

        .check__container {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          font-size: 0.8rem;
          margin-bottom: 1rem;
          color: #777;
          .checkbox {
            display: flex;
            align-items: center;
            span {
              margin-left: 0.5rem;
            }
          }

          a {
            color: var(--blue);
          }
        }

        button {
          height: 40px;
          color: var(--white);
          border: none;
          background: var(--blue);
          border-radius: 5px;
          font-size: 1rem;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .new {
        font-size: 0.8rem;
        color: #777;
        margin-top: 1rem;

        a {
          color: var(--blue);
        }
      }

      .or__container {
        position: relative;
        // border: var(--border);
        width: 100%;
        margin-top: 2rem;

        hr {
          background: #777;
          border: none;
          height: 1px;
        }

        p {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          background: var(--white);
        }
      }

      .or__options {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        .ors {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: rgb(230, 227, 227);
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}
