.app__takequestions {
  @media screen and (max-width: 800px) {
    width: 100%;
    padding-top: 5rem;
  }

  .question__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @media screen and (max-width: 800px) {
      width: 100%;
      grid-template-columns: 1fr;
    }
    .subject {
      background: var(--blue);
      padding: 1rem;
      border-radius: 5px;
      transition: var(--trans);
      cursor: pointer;

      &:hover {
        box-shadow: var(--shadow);
      }

      @media screen and (max-width: 800px) {
        width: 100%;
      }

      h1 {
        color: var(--white);
        margin-bottom: 1rem;
        text-transform: capitalize;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 5px 30px;
        border-radius: 5px;
        background: var(--button);
        color: var(--blue);
        font-size: 14px;
        font-weight: 200;
        cursor: pointer;
        transition: var(--trans);
        border: none;

        &.disabled {
          background: var(--button);
          cursor: not-allowed;
          color: lightblue;
        }
      }

      &.disabled {
        background: lightblue;
        cursor: not-allowed;
      }
    }
  }

  .QuestionContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.772);
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2rem;
    transition: var(--trans);
    display: flex;
    align-items: center;
    justify-content: center;

    .question__content {
      background: var(--white);
      width: 80%;
      height: 90%;
      overflow-y: auto;
      padding: 1rem;
      border-radius: 5px;
      ul {
        list-style: none;
      }

      .questionData {
        margin-bottom: 1rem;

        .suggestion {
          margin-top: 0.4em;
          margin-left: 2rem;
        }
      }

      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }

    svg {
      color: red;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .year__selection {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 100%;

      p {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: var(--thick__black);

        @media screen and (max-width: 800px) {
          font-size: 1.2rem;
        }
      }

      .years {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        gap: 1rem;
        width: 100%;

        .year {
          background: var(--blue);
          padding: 1rem;
          border-radius: 5px;
          width: 100%;
          cursor: pointer;
          color: var(--white);
          transition: var(--trans);

          &:hover {
            background: var(--smoke);
            color: var(--blue);
          }

          @media screen and (max-width: 800px) {
            width: 100%;
          }
        }
      }
    }

    .quesiton__wrapp {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 1rem;

      .start__card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .start__card-content {
          background: var(--smoke);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.129);
          width: 50%;
          color: var(--thick__black);
          padding: 1rem;
          border-radius: 5px;

          @media screen and (max-width: 800px) {
            width: 95%;
          }
          p {
            margin: 1rem 0;
          }

          button {
            cursor: pointer;
            height: 40px;
            padding: 0 2rem;
            border: none;
            color: var(--white);
            margin-top: 1rem;
            background: var(--blue);
            border-radius: 5px;
          }
        }
      }

      .questions__carryers {
        .card-content {
          position: relative;
          .time__left__container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            color: var(--smoke);
            span {
              background: var(--smoke);
              padding: 6px 1rem;
              margin-left: 2rem;
              border-radius: 20px;
              color: var(--thick__black);
            }
          }

          .content {
            overflow-y: auto;
            padding-bottom: 1rem;
            h2 {
              margin-bottom: 1rem;

              @media screen and (max-width: 800px) {
                font-size: 1.2rem;
              }
            }

            label {
              background: var(--smoke);
              cursor: pointer;
              color: var(--thick__black);
              border-radius: 5px;

              span {
                @media screen and (max-width: 800px) {
                  font-size: 1rem;
                }
              }
            }

            label.radio {
              display: block;
              text-align: left;
              padding: 15px;
              margin-bottom: 5px;
              font-size: 20px;
            }

            label.radio + .radio {
              margin-left: 0;
            }

            label.radio input {
              margin-right: 10px;
            }

            button {
              cursor: pointer;
              height: 40px;
              padding: 0 2rem;
              border: none;
              color: var(--white);
              margin-top: 1rem;
              background: var(--blue);
              border-radius: 5px;
            }
          }
        }
      }

      .end__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .card-content {
          background: var(--white);
          padding: 1rem;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.129);
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          h3 {
            font-size: 1.5rem;
          }

          .correct__length {
            text-align: center;
            margin-bottom: 1rem;
          }

          .circular__progress {
            height: 100px;
            width: 100%;
            position: relative;

            svg {
              height: 100px;
              width: 100px;
              position: initial;
            }
          }

          .timeTaken {
            margin: 1rem 0;
          }

          .btn__container {
            display: flex;
            align-items: center;

            .button {
              height: 40px;
              border: none;
              padding: 1rem;
              cursor: pointer;
              color: var(--white);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;

              &.check {
                background: #3273dc;
                margin-right: 1rem;
              }

              &.reset {
                background: #48c774;
              }
            }
          }
        }
      }

      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;

        // color: ;

        .modal-card {
          background: var(--white);
          width: 50%;
          height: 90%;

          @media screen and (max-width: 800px) {
            width: 95%;
          }

          header {
            background: red;
            height: 65px;
            background: #f7f7f7;
            padding: 2rem;
            align-items: center;
            display: flex;
            font-size: 1.5rem;
            justify-content: space-between;
            border-bottom: 1px solid var(--grey);

            .delete {
              height: 40px;
              padding: 0 1rem;
              border: none;
              cursor: pointer;
            }
          }

          .content {
            overflow-y: auto;
            height: calc(100% - 65px);
            list-style: initial;
            padding: 1rem;

            .questionNumber {
              margin-bottom: 6px;

              .questionName {
                padding: 10px;
                margin: 10px 2rem;
                color: var(--white);
                &.success {
                  background: #3273dc;
                }
                &.wrong {
                  background: #f14668;
                }
              }

              .successQuestion {
                background: #3273dc;
                color: var(--white);
                padding: 10px;
                margin: 2px 2rem;
              }
            }
          }
        }
      }
    }
  }
}
