.app__need {
  p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .need__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    a {
      background-color: var(--white);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.129);
      border-radius: 5px;
      transition: var(--trans);

      &:hover {
        box-shadow: 14px 10px 22px 0px rgba(0, 0, 0, 0.155);
      }

      .need {
        display: flex;
        align-items: center;
        padding: 1rem;
        svg {
          color: var(--blue);
          font-size: 2rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
