.sidebar {
  position: relative;

  .sidebar__container {
    width: 300px;
    height: 100%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 4.5rem;
    transition: var(--trans);
    box-shadow: 14px 10px 22px 0px rgba(0, 0, 0, 0.155);
    @media screen and (max-width: 800px) {
      display: none;
    }
    .okay__side {
      width: 100%;
      display: flex;
      flex-direction: column;

      li {
        a {
          height: 40px;
          display: flex;
          align-items: center;
          padding-left: 3rem;
          position: relative;
          color: var(--thick__black);
          transition: var(--trans);

          &.active {
            position: relative;
            color: var(--blue);

            &::before {
              content: "";
              width: 5px;
              background: var(--blue);
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
          svg {
            font-size: 1.4rem;
            margin-right: 1rem;
          }

          &:hover {
            color: var(--blue);

            &::before {
              content: "";
              width: 5px;
              background: var(--blue);
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
      }
    }
  }

  .mobile__side__container {
    display: none;

    @media screen and (max-width: 800px) {
      display: block;

      .mobile__side {
        position: fixed;
        top: 60px;
        left: 0;
        width: 60vw;
        transition: var(--trans);
        height: calc(100vh - 60px);
        background: var(--white);

        li {
          a {
            height: 40px;
            display: flex;
            align-items: center;
            padding-left: 3rem;
            position: relative;
            color: var(--thick__black);
            transition: var(--trans);
            &.active {
              position: relative;
              color: var(--blue);
              background: var(--smoke);

              &::before {
                content: "";
                width: 5px;
                background: var(--blue);
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
              }
            }

            svg {
              font-size: 1.4rem;
              margin-right: 1rem;
            }

            &:hover {
              color: var(--blue);

              &::before {
                content: "";
                width: 5px;
                background: var(--blue);
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
              }
            }

            &:last-child {
              margin-bottom: 1rem;
            }

            &:first-child {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}
