.DasboardContainer {
  width: 100%;
  font-family: "Poppins";
  .Sidebar {
    width: 18%;
    height: calc(100vh - 70px);
    position: fixed;
    float: left;
    display: flex;
    border-right: 1px solid #e6e6e6;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--trans);
    background: var(--white);

    ul {
      margin: 0;
      list-style: none;
      padding: 0;

      li {
        display: flex;
        margin: 2px 0;
        cursor: pointer;
        height: 40px;
        padding: 0 10px;
        background: red;
        transition: var(--trans);
        &:nth-child(1) {
          margin: 0 0 2px 0;
        }
        a {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 5px;
            color: var(--blue);
          }
        }
      }

      .exam {
        height: 40px;
        transition: var(--trans);

        .show {
          display: none;
        }
        &.showus {
          opacity: 1;
          height: 125px;
          background: orange;
          transition: var(--trans);

          .show {
            opacity: 1;
            display: block;
          }
        }
      }
    }

    .ProfileContainer {
      display: flex;
      align-items: center;
      padding: 0 0 10px 5px;
      .ProfileImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--blue);
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .ProfileName {
        font-size: 12px;
        font-weight: normal;
      }
    }

    .popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;

      .closePopup {
        position: absolute;
        top: 30px;
        right: 40px;
        background: transparent;
        border: none;
        font-size: 3rem;
        font-weight: bold;
        color: var(--white);
        cursor: pointer;
        transform: rotate(45deg);
        transition: var(--trans);
        &:hover {
          color: red;
        }
      }
      .popup-content {
        width: 400px;
        height: 300px;
        background: var(--white);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        transition: var(--trans);
        font-family: "Poppins";
        textarea {
          height: 120px;
          margin: 0 0 5px 0;
          width: 95%;
          outline: none;
          padding: 10px;
          transition: var(--trans);
          border: var(--border);
          resize: none;
          &:focus {
            border: 0.1em solid var(--blue);
          }
        }

        input {
          height: 40px;
          border: var(--border);
          width: 95%;
          margin: 5px 0;
          outline: none;
          transition: var(--trans);
          padding: 0 10px;

          &:focus {
            border: 0.1em solid var(--blue);
          }
        }

        .publish {
          margin-top: 5px;
          padding: 10px 20px;
          transition: var(--trans);
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .Side {
    width: 82%;
    transition: var(--trans);
    float: right;
    height: calc(100vh - 70px);
    background: orange;
  }
}
