:root {
  --white: #fff;
  --black: #57595d;
  --thick__black: #2f353d;
  --blue: #285ca9;
  --yellow: #f7cb48;
  --border: 0.1rem solid white;
  --trans: 0.3s all ease-in-out;
  --border: 0.1rem solid rgb(200, 199, 199);
  --shadow: 0px 0px 10px #e1dddd;
  --grey: grey;
  --smoke: whitesmoke;
  --light__blue: #285ca915;
  --button: #f7f7f7;
  --button__light: #f7f7f7;
  --text-color: white;
}
[data-theme="dark"] {
  --white: #27292d;
  --blue: #5c8edb;
  --smoke: #121418;
  --black: whitesmoke;
  --button: #2f353d;
  --button__light: #57595d;
  --shadow: 0px 0px 10px #393d42;
  --light__blue: #3867af15;
  --thick__black: #eeeeee;
  --text-color: black;
}

h3 {
  margin-bottom: 2rem;
}

.App {
  background: var(--smoke);
}

.default__outlet {
  display: flex;
  width: calc(100% - 300px);
  padding: 5rem 4% 1rem 2rem;
  float: right;
  background: var(--smoke);
  transition: var(--trans);
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
svg {
  transition: var(--trans);
}
